.org {
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    place-items: start;
  }

  & + & {
    margin-top: 2rem;
  }
}

.small {
  height: 280px;
  overflow: hidden;

  @media (min-width: 600px) {
    height: 160px;
  }
}

.name {
  font-size: 1.125rem;
  margin-bottom: 0;
  grid-column: 1/-1;
}

.areas-covered {
  display: grid;
  grid-template-columns: 18px 1fr;
  align-items: center;
  grid-column: 1/-1;
  width: 100%;
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 0;
  margin-top: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.ac-link {
  color: #888;
}

.description {
  color: #666;
  margin-top: 1rem;
}

.more-details {
  display: block;
  width: 100%;
  border: 0 none;
  border-top: 1px solid #ddd;
  padding: 0.75rem 1rem;
  margin: 1rem auto;
  text-align: center;
  color: #888;
}

.donation-cta {
  display: block;
  background-color: #fafafa;
  color: #f55555;
  border: 2px solid #f55555;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  justify-self: end;
  align-self: start;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &:hover,
  &:active {
    color: white;
    background: #f55555;
  }

  @media (min-width: 600px) {
    margin-top: 1rem;
  }
}

.cta-icon {
  vertical-align: middle;
  margin: -4px 2px 0 0;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  width: 100%;
  place-items: center;
  grid-column: 1/-1;
  padding-top: 1rem;
  border-top: 1px solid #ddd;

  > * + * {
    margin-left: 1rem;
  }
}

.website {
  color: #333;
  text-decoration: none;
}

.facebook {
  color: #4267b2;
  text-decoration: none;
}

.twitter {
  color: #1da1f2;
  text-decoration: none;
}
