.intro {
  max-width: 650px;
  font-size: 1.5rem;
  color: #666;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #f55555;
}

.lead-text {
  font-size: 1.25rem;
}

.countries-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  font-size: 1.125rem;

  @media (min-width: 600px) {
    font-size: 1.375rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
