.intro {
  max-width: 650px;
  font-size: 1.5rem;
  color: #666;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #f55555;
}

.countries-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  font-size: 1.125rem;

  @media (min-width: 600px) {
    font-size: 1.375rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.country-link {
  display: block;
  text-transform: capitalize;
  padding: 0.5rem;

  &:hover {
    color: #f55555;
    text-decoration: none;
  }
}
