.layout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.cookie {
  grid-gap: 1rem;
  place-items: center start;
  padding: 1rem;
  background-color: #ffffaa;
  text-align: left;

  @media (min-width: 600px) {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.cookie-text {
  margin-bottom: 1rem;
  max-width: 400px;

  @media (min-width: 600px) {
    max-width: 800px;
  }

  @media (min-width: 1000px) {
    max-width: 900px;
  }
}

.cookie-cta {
  display: block;
  border: 0 none;
  padding: 0.35rem 1rem;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  border: 2px solid #333;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover {
    background-color: #fff;
    color: #333;
  }
}

.header {
  display: grid;
  grid-gap: 2rem;
  align-self: center;
  grid-template-columns: auto 2fr;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 600px) {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

@media (min-width: 600px) {
  .cookie + .header {
    top: 149px;

    @media (min-width: 600px) {
      top: 125px;
    }

    @media (min-width: 1000px) {
      top: 101px;
    }
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #f55555;
  text-decoration: none;
  line-height: 1;
  display: block;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #555;
  font-size: small;
  text-align: right;
}

.nav {
  align-self: center;
  justify-self: end;
}

.nav-btn {
  display: block;
  background-color: #f5555530;
  color: #f55555;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in;

  &:hover,
  &:active {
    color: white;
    background: #f55555;
  }
}

.main {
  margin: 2rem auto;
  width: 100%;
}

.footer {
  background-color: #333;
  margin-top: 2rem;
  padding: 3rem 1rem;
  color: #aeaeae;
  border-top: 5px solid #f55555;

  a,
  a:link {
    color: #ddd;
  }

  a:hover {
    text-decoration: none;
  }
}

.colophone {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
