.layout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.cookie {
  position: sticky;
  display: grid;
  grid-gap: 1rem;
  place-items: center start;
  top: 0;
  padding: 1rem;
  background-color: #ffffaa;
  text-align: left;

  @media (min-width: 600px) {
    grid-template-columns: 3fr 1fr;
    place-items: center;
  }
}

.header {
  display: grid;
  grid-gap: 2rem;
  align-self: center;
  grid-template-columns: auto 2fr;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);
}

.cookie + .header {
  top: 144px;

  @media (min-width: 600px) {
    top: 80px;
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #f55555;
  text-decoration: none;
  line-height: 1;
  display: block;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #888;
  font-size: small;
  text-align: right;
}

.nav {
  align-self: center;
  justify-self: end;
}

.main {
  margin: 2rem auto;
  width: 100%;
}

.footer {
  background-color: #333;
  margin-top: 2rem;
  padding: 3rem 1rem;
  color: #888;
  border-top: 5px solid #f55555;

  a,
  a:link {
    color: #ddd;
  }

  a:hover {
    text-decoration: none;
  }
}

.colophone {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
